@import 'common/styles/_common.css';

/*universial selector example to include padding, border, and margin
in all box sizing totals*/
* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: rgba(0,212,255,1);
}

.App {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
